
<div class="box-wrapper">
  
  <%= image_tag 'real-login.png', class: 'login-logo img-responsive center-block' %>
  
  <h2>LP Portal</h2>
  
  <% if flash[:notice] %>
    <div class="alert alert-notice"><%= flash[:notice] %></div>
  <% end %>
  <%= form_tag '/login' do |f| %>
			<div class="form-group">
				 <input placeholder="Email" name="email" type="email" class="form-control login-form-control" id="login_email" value="<%= @email %>"/>
			</div>
			<div class="form-group">
				 <input placeholder="Password" name="password" type="password" class="form-control login-form-control" id="login_password" />
			</div>
			<div class="form-group">
				 <input name="commit" value="Login" type="submit" class="btn btn-default btn-block login-form-control">
			</div>
			<% if @redirect.present? %>
				<input type="hidden" name="redirect" value="<%= @redirect %>">
			<% end %>
	<% end %>
	<!--<a href="/reset_password">Forgot Password?</a>-->
</div>	
