<%= render partial: "common/navbar" %>



<div class="container">

<%= render partial: 'admin_menu' %>



  
<%= form_tag "/create_user" do %>
<table class="editable-table create-user-table">
  <tr>
    <td><input class="form-control" type="email" name="user[email]" placeholder="Email"></td>
    <td><input class="form-control" type="text" name="user[first_name]" placeholder="First Name"></td>
    <td><input class="form-control" type="text" name="user[last_name]" placeholder="Last Name"></td>
    <td><%= select_tag 'entity_id', options_from_collection_for_select(@entities_for_select, :id, :name, include_blank: true), class: 'form-control' %>
    <td><input type="submit" value="Create" class="btn btn-primary"></td>
  </tr>
</table>
<% end %>
  
<div class="message alert alert-info" role="alert"><%= flash[:error] %></div>

<table class="editable-table admin-user-list">
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>
  
  
  <% @users.each do |u| %>
  <tr class="user-row <%= "disabled-user" if !u.enabled %>" data-id="<%= u.id %>">
      <td><input class="form-control" name="user[email]" value="<%= u.email %>" data-initial-value="<%= u.email %>" <%= 'disabled="disabled"' if !u.enabled %>></td>
      <td><input class="form-control" name="user[first_name]" value="<%= u.first_name %>" data-initial-value="<%= u.first_name %>" <%= 'disabled="disabled"' if !u.enabled %>></td>
      <td><input class="form-control" name="user[last_name]" value="<%= u.last_name %>" data-initial-value="<%= u.last_name %>" <%= 'disabled="disabled"' if !u.enabled %>></td>
   
    <td>
       <% if !u.enabled %>
      <div class="badge">Disabled</div>
      <% end %>
      
      <% if u.admin? %>
      <div class="badge">Admin</div>
      <% end %>

    </td>


  </tr>
  <tr class="user-row" data-id="<%= u.id %>">
     <td colspan="4">
      <%= select_tag(nil, options_from_collection_for_select(@entities_for_select, :id, :name, nil), class: "user-entity-add", disabled: ("disabled" if !u.enabled)) %>
      <div style="display: inline-block" class="user-entities"><% u.entities.each do |e| %> <span data-entity-id="<%= e.id %>" class="user-entity"><%= e.name %><span class="user-entity-remove">&times;</span></span> <% end %></div>
    </td>
  </tr>
  <tr class="user-row second-row">
    
    <td colspan="1">
      <div class="row-buttons">
        <% if !u.admin? %>
          <% if u.enabled  %>
            <%= post_form_button "De-activate User", "/toggle_user_enabled", "id", u.id, button_class: 'btn  btn-sm' %>
          <% else %>
            <%= post_form_button "Activate User", "/toggle_user_enabled", "id", u.id, button_class: 'btn  btn-sm' %>
          <% end %>
        <% end %>
      </div>
    </td>
    
    <td>
      <% if u.current_sign_in_at.nil? && !u.admin? %>
          <%= post_form_button  u.activation_sent_at.present? ? "Resend Activation" : "Send Activation", '/send_activation', "id", u.id, button_class: 'btn btn-sm' %>
      <% end %>
    </td>
    
    <td class="padded-cell">
      <small><%= u.login_status_string if !u.admin? %> </td></small>
    </td>
    


  </tr>
  <% end %>
  

</table>




</div>