<%= render partial: "common/navbar" %>

<div class="container">

<%= render partial: 'admin_menu' %>
  
<%= form_tag "/create_user" do %>
<table class="editable-table create-user-table">
  <tr>
    <td><input class="form-control" type="email" name="user[email]" placeholder="Email"></td>
    <td><input class="form-control" type="text" name="user[first_name]" placeholder="First Name"></td>
    <td><input class="form-control" type="text" name="user[last_name]" placeholder="Last Name"></td>
    <td><%= select_tag 'entity_id', options_from_collection_for_select(@entities_for_select, :id, :name, include_blank: true), class: 'form-control' %>
    <td><input type="submit" value="Create" class="btn btn-primary"></td>
  </tr>
</table>
<% end %>
  
<div class="message alert alert-info" role="alert"><%= flash[:error] %></div>

<div class="form-inline">
<!--<input class="form-control js-users-filter-input" type="search" placeholder="Type to Search/Filter"/><button class="btn js-users-filter-clear">Clear Filter</button>-->
</div>
<table class="editable-table admin-user-list">
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>
  
  
  <% @users.each do |u| %>
  <%= render partial: 'user_old', locals: { u: u } %>
  <% end %>
  

</table>




</div>