<div class="header">
  <div class="container">
    <div class="col-xs-4">
      <a href="/">
        <%= image_tag 'real-white.png', class: 'logo' %>
      </a>
    </div>
    <div class="col-xs-8">
      <div class="navbar-profile">
        <span class="profile-icon"><%= current_user.initials %></span>
        
        <span class="dropdown">
          <span class="profile-name" data-toggle="dropdown"><%= current_user.display_name %></span>
          <ul class="dropdown-menu">
            <% if @current_user.admin? %>
              <li><a href="/users">Manage Users</a></li>
              <li><a href="/entities">Manage Entities</a></li>
              <li><a href="/sync">Manage Sync</a></li>
              <li><a href="/messaging">Manage Messaging</a></li>
              <li role="presentation" class="divider"></li>
            <% end %>
            <li><a href="/logout">Logout</a></li>
          </ul>

        </span>
      
        <span class="dropdown">
          <span class="profile-dropdown <%= 'clickable' if @notifications.any? %>" data-toggle="dropdown">
            <!--<span class="profile-name"><%= current_user.display_name %></span>-->
            
            <%= image_tag "icons/bell.png", class: "notification-icon" %>

            <span class="badge notification-badge"><%= @notification_count if @notification_count > 0 %></span>
          </span>
          <% if @notifications.any? %>
          <ul class="dropdown-menu dropdown-menu-right">
            <% @notifications.each_with_index do |n,i| %>
              <li class="dropdown-header">Added on <%= n.upload_date %></li></li>
              <li><a href="#"><%= n.display_title %></a></li>
              <% if @notifications.length - 1 != i %>
                <li role="presentation" class="divider"></li>
              <% end %>
            <% end %>
          </ul>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
